.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 1rem 0.5rem 0;
    margin: 1rem;
    background-color: #FFF;

    height: 420px;
    width: 320px;

    color: #3d3d3d;

    border-radius: 0.3rem;
    box-shadow: 5px 5px 5px #b9b9b9;

    transition: box-shadow 0.5s;
}

.product:hover {
    box-shadow: 8px 8px 8px #88abc7;
}

#product-name {
    margin: 1.5rem;
    font-size: 20px;
}

#cart-opts {
    margin: 1rem;
    display: flex;
}

#cart-button {
    color: #FFF;
    /* border: 1px solid rgb(141, 141, 141); */
    background-color: #FFD666;

    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    outline: none;

    text-decoration: none;

    display: inline-block;
    cursor: pointer;

    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s;
}

#cart-button:hover,
#cart-button:focus {
    opacity: .5;
}

#add-span {
    font-size: 25px;
    padding-right: 0.3rem;
}
