.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 1rem 0.5rem 0;
    margin: 1rem;
    background-color: #FFF;

    height: 420px;
    width: 320px;

    color: #000;

    border-radius: 0.3rem;
    box-shadow: 5px 5px 5px #b9b9b9;

    transition: box-shadow 0.5s;
}

.product:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6px #88abc7;
}

#product-name {
    margin: 1.5rem;
    font-size: 20px;
}

#cart-opts {
    margin: 1rem;
    display: flex;
}
