#products-catalog {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#products-catalog aside {
    width: 530px;
    padding: 0 50px 2rem 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(329.54deg, #88abc7 8%, #2950d1 100%);
}

#products-catalog aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 30px;

    margin-bottom: 1rem;
}

#products-catalog aside p {
    line-height: 28px;
    /* margin-top: 24px; */
}

#products-catalog aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#products-catalog aside footer strong {
    font-weight: 800;
}

#buttons-wrapper {
    background-color: #FFD666;
}

#products-catalog .sort-button {
    /* position: absolute; */
    right: 40px;
    bottom: 40px;

    /* margin: 2rem; */

    width: 64px;
    height: 64px;
    background: #FFD666;
    /* border-radius: 28px; */

    border: none;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.2s;
}

#products-catalog .sort-button:hover {
    background: #88abc7;
}

#products-container {
    width: 100%;
    overflow-y: scroll;

    margin-top: 1rem;
}

#sort-type-title {
    margin-left: 1rem;
    color: #3d3d3d
}

#products-wrapper {
    display: grid;

    grid-auto-rows: 440px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    
    grid-gap: 0;
}

#checkout-flex-structure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    height: 100%;
}

#checkout-top {
    display: flex;
    justify-content: space-between;


    background-color: rgba(12, 12, 12, 0.363);

    box-sizing: border-box;
    border-radius: 5px 5px 0 0;

    margin: 1rem 0 0 0;
    /* padding: 10px 20px; */
}

#checkout-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #2950d1; */
    cursor: pointer;

    padding: 0 0.8rem;

    width: 6rem;
    height: 100%;

    transition: background-color 0.5s;
}

#checkout-button:hover,
#checkout-button:focus {
    background-color: rgba(12, 12, 12, 0.205);;
}

#checkout-container {
    height: 100%;

    margin: 0 0 1rem;

    border-radius: 0 0 0.3rem 0.3rem;
    background-color: rgba(12, 12, 12, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#cart-wrapper {
    height: 100%;
    /* padding-left: 0.5rem; */

    display: flex;
    flex-direction: column;
}

#cart-wrapper p {
    padding-top: 0.5rem;
}

#cart-wrapper ul {
    list-style-type: none;

    /* overflow: scroll; */
}

#cart-wrapper li:first-child {
    padding-top: 0.2rem;
}

#cart-wrapper li {
    padding-left: 2rem;
    padding-bottom: 0.5rem;

    font-size: 13px;
    line-height: normal;
}

#data-wrapper {
    display: flex;
    flex-direction: column;
}

#data-wrapper div {
    display: flex;
    justify-content: space-between;
}

#data-wrapper h3 {
    padding: 0.5rem;
}

.cart-text {
    padding: 0.5rem 1rem 0.5rem;
}

#data-wrapper a {
    color: #FFF;
    /* border: 1px solid rgb(141, 141, 141); */
    background-color: rgba(12, 12, 12, 0.2);

    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    outline: none;

    text-decoration: none;

    display: inline-block;
    cursor: pointer;

    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
}

#data-wrapper a:hover,
#data-wrapper a:focus {
    background-color: rgba(12, 12, 12, 0.26);;
}



