
/* ---------------------------------------------- */
/* ----------- Products Catalog Styles ---------- */
/* ---------------------------------------------- */

#products-catalog {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#products-container {
    width: 100%;
    overflow-y: scroll;

    margin-top: 1rem;
}

#sort-type-title {
    margin-left: 1rem;
    color: #3d3d3d
}

#products-wrapper {
    display: grid;

    grid-auto-rows: 440px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    grid-gap: 0;
}

/* ------------------------------------ */
/* ----------- Aside Styles ----------- */
/* ------------------------------------ */

#products-catalog aside {
    max-width: 420px;
    min-width: 400px;
    padding: 0 50px 2rem 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: scroll;

    background: linear-gradient(329.54deg, #88abc7 8%, #2950d1 100%);
}

#products-catalog aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 30px;

    margin-bottom: 1rem;
}

#products-catalog aside p {
    line-height: 28px;
    /* margin-top: 24px; */
}

#products-catalog aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#products-catalog aside footer strong {
    font-weight: 800;
}

/* ---------------------------------------------- */
/* ----------- Buttons Wrapper Srtyles ---------- */
/* ---------------------------------------------- */

#buttons-wrapper {
    background-color: #FFD666;
}

#products-catalog .sort-button {
    /* position: absolute; */
    right: 40px;
    bottom: 40px;

    /* margin: 2rem; */

    width: 64px;
    height: 64px;
    background: #FFD666;
    /* border-radius: 28px; */

    border: none;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.2s;
}

#products-catalog .sort-button:hover {
    background: #88abc7;
}
