#products-catalog {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#products-catalog aside {
    width: 440px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(329.54deg, #88abc7 8%, #2950d1 100%);
}

#products-catalog aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#products-catalog aside p {
    line-height: 28px;
    margin-top: 24px;
}

#products-catalog aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#products-catalog aside footer strong {
    font-weight: 800;
}

#products-catalog .shopping-cart {
    position: top;
    right: 40px;
    bottom: 40px;

    margin: 2rem;

    width: 64px;
    height: 64px;
    background: #FFD666;
    border-radius: 28px;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.2s;
}

#products-catalog .shopping-cart:hover {
    background: #2950d1;
}
