* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: 5px;
    scrollbar-color: rgba(211, 211, 211, 0.582) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgba(211, 211, 211, 0.582);
    border-radius: 20px;
    border: 2px solid transparent;
}

body {
    color: #FFF;
    background: #EBF2F5;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
}
